.content{
    margin: 0;
    padding: 0 ;
    border: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
    text-align: center;
    font-weight: 800;
    font-family: Poppins,Arial, Helvetica, sans-serif;
    font-size: 38px;
    margin-bottom: 50px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    
}